name: Tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                os: [ubuntu-latest, windows-latest]
                php: ["8.5", "8.4", "8.3", "8.2", "8.1"]
                phpunit: ["9.6", "10.0", "11.0", "12.0"]
                stability: [prefer-lowest, prefer-stable]
                exclude:
                    - { php: "8.2", phpunit: "12.0" }
                    - { php: "8.1", phpunit: "12.0" }
                    - { php: "8.1", phpunit: "11.0" }

        name: PHP${{ matrix.php }} - PHPUnit${{ matrix.phpunit }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                  coverage: none

            - name: Setup problem matchers
              run: |
                  echo "::add-matcher::${{ runner.tool_cache }}/php.json"
                  echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
            - name: Install dependencies
              run: composer update --prefer-dist --no-interaction --${{ matrix.stability }} --with phpunit/phpunit:^${{ matrix.phpunit }}

            - name: Install dependencies
              run: bun install

            - name: Execute tests
              run: vendor/bin/phpunit
