name: Tests

on: [push, pull_request]

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                os: [ubuntu-latest, windows-latest]
                php: [8.5, 8.4, 8.3, 8.2, 8.1]
                stability: [prefer-lowest, prefer-stable]
                include:
                    - php: '8.5'
                      stability: 'no-suggest'

        name: P${{ matrix.php }} - ${{ matrix.stability }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - uses: oven-sh/setup-bun@v2
              with:
                bun-version: latest

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
                  coverage: none

            - name: Setup problem matchers
              run: |
                  echo "::add-matcher::${{ runner.tool_cache }}/php.json"
                  echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
            - name: Install dependencies
              run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction

            - name: Install dependencies
              run: bun install

            - name: Execute tests
              run: vendor/bin/phpunit
